.taskpage {
  height: 100vh;
  display: grid;
  grid-template-columns: 10%, 90%;
  grid-template-rows: 1fr, 1fr, 2.5fr;
}
.menu {
  color: black;
  padding-left: 1.5rem;
}
.oldtask {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 1.5rem;
}
.bell {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  align-self: start;
  z-index: 1000;
}
.navi {
  grid-row-start: 3;
}
.tasklist {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
