<div class="tasklist">
  <div>
    <input class="listitem" type="checkbox" id="firstitem" name="task" />
    <label for="firstitem">Book appointment with Jared</label>
  </div>
  <div>
    <input class="listitem" type="checkbox" id="secondtitem" name="task" />
    <label for="secondtitem">Upload today shot on Dribble</label>
  </div>
  <div>
    <input class="listitem" type="checkbox" id="thirditem" name="task" />
    <label for="thirditem">Complete the Elephant Illustration</label>
  </div>
  <div>
    <input class="listitem" type="checkbox" id="forthitem" name="task" />
    <label for="forthitem">Buy Cake for Clair's Birthday</label>
  </div>
</div>
