.tasklist {
  background: #f7f7f7;
  padding: 3.75rem 0 0 1.5rem;
}

.listitem {
  padding-bottom: 2rem;
}

label {
  font-size: 1.25rem;
  cursor: pointer;
}

input[name="task"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-thickness: 0.15em;
  text-decoration-color: var(--clr-primary);
}
