<div class="background">
  <div>
    <input class="listitem" type="checkbox" id="firstitem" name="horns" />
    <label for="firstitem">Book appointment with Jared</label>
  </div>
  <div>
    <input class="listitem" type="checkbox" id="secondtitem" name="horns" />
    <label for="secondtitem">Upload today shot on Dribble</label>
  </div>
  <div>
    <input class="listitem" type="checkbox" id="thirditem" name="horns" />
    <label for="thirditem">Complete the Elephant Illustration</label>
  </div>
</div>
