.wrapper {
  padding: 0 0 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.taskform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="submit"] {
  background-color: var(--clr-primary);
  color: #fff;
  padding: 1.6em 2em;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.32px;
  font-weight: var(--fw-primary);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

input[type="text"] {
  border: none;
  letter-spacing: 0.7px;
  border-bottom: 3px solid #d4d4d4;
  height: 4rem;
  outline: none;
  padding: 1rem 0 1rem 0;
}

input[type="text"]:focus {
  border-bottom: 3px solid #342d2f;
}

input[id="task"] {
  color: #393939;
  font-size: 3rem;
  padding-right: 0.5em;
}

::placeholder {
  color: #d4d4d4;
}

legend,
label[for="task"] {
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
}

.fieldsetwrapper {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.fieldsetwrapper label {
  color: var(--clr-text-primary);
  cursor: pointer;
  padding: 2rem 0 2rem 0;
  font-size: 1rem;
}

.fieldsetwrapper input[type="radio"] {
  display: none;
}

.fieldsetwrapper input[type="radio"]:checked + label {
  color: var(--clr-primary);
}

fieldset {
  margin: 4rem 0;
  padding: 0;
  border: none;
}
