<section class="taskList">
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
    >
      Book appointment with Jared
    </span></label
  >
</section>
<section class="taskList">
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
    >
      Make a nice Dinner for my wife
    </span></label
  >
</section>
<section class="taskList">
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
    >
      Book appointment with Jared
    </span></label
  >
</section>
<section class="taskList">
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
    >
      Book appointment with Jared
    </span></label
  >
</section>
